/*
    FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*
    VARIABLES
*/

:root {
    --clr-main: #000;
    --clr-background-header: rgba(255, 255, 255, 0.5);
    --clr-turquose: #4d938c;
    --clr-turquose-dark: #387069;
    --clr-yellow: #e9d09c;
    --clr-rose: #ce857a;
    --clr-text-dark: #000000;
    --clr-text-light: #fff;
    --clr-background-light: #ffffff;
    --clr-ytred: #c4302b;
    --ff-montserrat: 'Montserrat', sans-serif;
    --fs-standard: 0.7em;//1.125rem;
}


/*
    GLOBAL
*/

*, *::before, *::after {
    box-sizing: border-box;     // https://www.youtube.com/watch?v=WlGQdgy-M6w
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-standard);
    font-weight: 400;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100%;
}

section {
    //height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: grid;
}

img, svg, picture, object {
    display: block;
    max-width: 100%;
    height: auto;
}

.text {
    width: 80%;
    margin: 10em auto;
    color: var(--clr-text-light);
    text-align: center;
    z-index: 50;

    .title {
        font-weight: 700;
        font-size: 30pt;
        margin-bottom: 2em;
    }

    .body{
        font-size: 24pt;
        margin-bottom: 1em;
    }

    .greetings{
        font-size: 20pt;
    }
}

.hidden {
    display: none;
}

.gameloader {
    padding: 2em;
    height: 500px;
    display: grid;
    align-content: center;
    margin: 0 auto;
    border: 2px solid white;
    width: 100%;
}

.ytgamevid {
    margin: 3em auto;
    background: var(--clr-rose);
    width: 1000px;
    height: 563px;
    position: relative;
    border-radius: 15px;
    border: 2px solid white;

    .text {
        width: 100%;
        height: 100%;
    }

    .arrow-right {
        width: 0; 
        height: 0; 
        border-top: 80px solid transparent;
        border-bottom: 80px solid transparent;
        border-left: 120px solid white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }

    p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }

    .confirmation {
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        border: 2px solid white;
        margin: auto;
        width: 100%;
        height: 100%;

        .text {
            height: auto;
            width: auto;

            .body {
                top: 100px;
                width: 90%;
                position: relative;
                margin-bottom: 7em;
            }

            .btn {
                padding: 10px 20px;
                min-width: 200px;
                margin: 1em 2em;
                color: white;
                display: inline-block;
                border-radius: 10px;

                .buttontext {
                    margin: auto auto;
                    color: var(--clr-text-light);
                    text-align: center;
                    font-size: 24pt;
                    position: initial;
                    transform: none;
                }
            }
    
            #confirm {
                background: var(--clr-turquose);
            }
    
            #abort {
                background: var(--clr-rose);
            }
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: 2px solid white;
        //display: none;
    }
}

/*
    HEADER
*/
.header-nav{
    height: auto;
    width: auto;
    background: none;
    //background-color: var(--clr-background-header);
    z-index: 1000;
    top: 1em;
    left: 1em;
    position: fixed;

    a {
        color: var(--clr-text-dark);
        text-decoration: none;
        font-size: 2em;
    }

    .toggler{
        display: none;
    }

    .toggler-label{
        display: inline-block;
        margin: 1em;

        /*
            Size of bars
        */
        span,
        span::before,
        span::after{
            display: block;
            width: 4em;
            height: .4em;
            border-radius: 20%;
            background: var(--clr-turquose);
            position: relative;
            transition: all 400ms ease;
        }

        span::before,
        span::after{
            content: '';
            position: absolute;
        }

        span::before{
            bottom: 10px;
        }

        span::after{
            top: 10px;
        }
    }

    /*
        Background box behind bars
    */
    .toggler-label::before{
        content: '';
        position: absolute;
        width: 5em;
        height: 3.1em;
        top: -.35em;
        left: .4em;
        background-color: var(--clr-background-header);
    }

    nav{
        position: static;
        transform: none;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        background: var(--clr-background-light);

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }

        li {
            a {
                opacity: 0;
                padding-top: .5em;
                padding-bottom: .5em;
                padding-left: 1em;
                padding-right: 1em;
                display: inline-block;
                transition: opacity 150ms ease-in-out;
            }
        }
    }

    .toggler:checked ~ nav{
        transform: scale(1, 1);
    }

    .toggler:checked ~ nav a{
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    .toggler:checked + .toggler-label {
        
        span{
            transform: rotate(135deg);
        }

        span::before,
        span::after{
            top: 0;
            transform: rotate(90deg);
        }
    }
}

/*
 BODY
*/
main {
    background-color: var(--clr-main);

    #home {
        background: var(--clr-turquose);
        height: auto;
        //padding-bottom: 1em;

        #Banner {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    #ytvid {
        background: var(--clr-yellow);

        #embeddedvideo {
            margin: auto;
            width: 854px;
            height: 480px;
        }

        #ytbutton {
            margin: auto;
            width: 854px;
            height: 480px;
            background: var(--clr-rose);
            position: relative;
            border-radius: 15px;
            border: 2px solid white;

            .arrow-right {
                width: 0; 
                height: 0; 
                border-top: 80px solid transparent;
                border-bottom: 80px solid transparent;
                border-left: 120px solid white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

            p {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 10px;
            }
        }

        #yttoast {
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            border: 2px solid white;
            z-index: 999;
            margin: auto;
            width: 900px;
            height: 400px;

            .button {
                padding: 10px 20px;
                min-width: 200px;
                margin: 1em 2em;
                color: white;
                display: inline-block;
                border-radius: 10px;
            }

            #confirm {
                background: var(--clr-turquose);
            }

            #abort {
                background: var(--clr-rose);
            }
          }
    }

    #gamelevel {
        background: var(--clr-turquose);
        position: relative;
        display: inline-block;

        .lines {
            width: 60%;
            height: min-content;
        }

        #topleft {
            margin-top: 5em;
            margin-bottom: 10em;
        }

        #bottomright {
            margin-bottom: 5em;
            right: 0;
            position: absolute;
            bottom: 0;
        }

        #gameleveltext {
            text-transform: uppercase;
            margin: 0 auto;
            height: min-content;

            .title {
                margin-bottom: 0;
            }
        }

        #levels {
            display: inline-flex;
            justify-content: center;
            height: min-content;
            margin-top: 7em;

            .level {
                width: 20%;
                height: min-content;
            }
        }
    }

    #aboutus {
        background: var(--clr-yellow);

        #bubbles {
            z-index: 1;
            max-height: 100%;
            position: absolute;
            height: 67%;
            right: 0;
            transform: translateX(30%);

            img {
                max-height: 100%;
            }
        }

        #aboutustext {
            margin-top: 20%;
        }
        
    }

    .gamelevelsec {
        height: auto;
        
        .levelbanner {
            //width: 80%;
            width: 1000px;
            justify-self: center;
            margin-top: 6em;
            margin-bottom: 6em;
        }

        .text {
            margin: 0 auto;

            .title {
                margin: 0;
            }

            .title:nth-child(1) {
                margin-bottom: 1em;
            }
        }

        .gameframe {
            background: var(--clr-rose);
            width: 80%;
            justify-self: center;
            margin-bottom: 30em;
            margin-top: 5em;
        }
    }

    /*
        LEVEL 1 SPIELE
    */
    #level1 {
        background: var(--clr-turquose);

        #gameframeL1F1 {
            width: 1000px;
            height: 1000px;

            .gameloader {
                height: 1000px;
            }
        }
        
        #gameframeL1F2 {
            width: 1000px;
        }

        #gameframeL1F3 {
            width: 1000px;
        }

        #gameframeL1F4 {
            width: 1000px;
            display: flex;
            //background: var(--clr-turquose);
            
            iframe {
                height: 1010px;
            }

            .helper {
                font-size: 4rem;
                display: grid;
                position: absolute;
                height: 1010px;
                left: calc(((100% - 1000px) / 2) + 1000px);

                p {
                    align-self: center;
                    margin-left: 1em;
                    color: var(--clr-text-light);
                }
            }
        }

        #gameframeL1F5 {
            width: 1000px;
        }

        #gameframeL1F6 {
            width: 1000px;
        }

        #gameframeL1F7 {
            width: 1000px;
            
            iframe {
                height: 450px;
            }
        }

        #gameframeL1F8 {
            width: 1000px;

            iframe {
                height:510px;
            }
        }

        #gameframeL1F9 {
            width: 1000px;
        }
    }

    /*
        LEVEL 2 SPIELE
    */
    #level2 {
        background: var(--clr-yellow);

        #gameframeL2F1 {
            width: 1000px;
            height: 1000px;

            .gameloader {
                height: 1000px;
            }
        }

        #gameframeL2F2 {
            width: 1000px;
        }

        #gameframeL2F3 {
            width: 1000px;

            iframe {
                height: 540px;
            }
        }

        #gameframeL2F4 {
            width: 1000px;
            display: flex;
            //background: var(--clr-turquose);
            
            iframe {
                height: 1010px;
            }

            .helper {
                font-size: 4rem;
                display: grid;
                position: absolute;
                height: 1010px;
                left: calc(((100% - 1000px) / 2) + 1000px);

                p {
                    align-self: center;
                    margin-left: 1em;
                    color: var(--clr-text-light);
                }
            }
        }

        #gameframeL2F5 {
            width: 1000px;
        }

        #gameframeL2F6 {
            width: 1000px;
        }

        #gameframeL2F7 {
            width: 1000px;
            
            iframe {
                height: 450px;
            }
        }

        #gameframeL2F8 {
            width: 1000px;

            iframe {
                height:510px;
            }
        }

        #gameframeL2F9 {
            width: 1000px;
        }
    }
    /*
        LEVEL 3 SPIELE
    */
    #level3 {
        background: var(--clr-rose);

        #gameframeL3F1 {
            width: 1000px;
            height: 1000px;

            .gameloader {
                height: 1000px;
            }
        }

        #gameframeL3F2 {
            width: 1000px;
        }

        #gameframeL3F3 {
            width: 1000px;

            iframe {
                height: 550px;
            }
        }

        #gameframeL3F4 {
            width: 1000px;
            display: flex;
            //background: var(--clr-turquose);
            
            iframe {
                height: 1010px;
            }

            .helper {
                font-size: 4rem;
                display: grid;
                position: absolute;
                height: 1010px;
                left: calc(((100% - 1000px) / 2) + 1000px);

                p {
                    align-self: center;
                    margin-left: 1em;
                    color: var(--clr-text-light);
                }
            }
        }

        #gameframeL3F5 {
            width: 1000px;
        }

        #gameframeL3F6 {
            width: 1000px;
        }

        #gameframeL3F7 {
            width: 1000px;
            
            iframe {
                height: 450px;
            }
        }

        #gameframeL3F8 {
            width: 1000px;

            iframe {
                height:510px;
            }
        }

        #gameframeL3F9 {
            width: 1000px;
        }
    }
}

/*
    FOOTER
*/
footer {
    background: var(--clr-background-header);
    color: var(--clr-text-dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding: 1.5em;
    z-index: 1000;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.325rem;
        color: var(--clr-text-dark);
        margin: 0 2em;
        font-weight: bold;

        &:active,
        &:hover {
            text-decoration: underline;
        }
    }
}
